*{
    font-family: 'Share Tech Mono', monospace;
}

html, body {padding:0; margin:0; height: 100%;}

body {
    background-color: pink;
}

button {
    margin-bottom: 30vh;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: 90px;
    border-radius: 50%;
    background-color: #060b26;
    opacity: 90%;
    color: white;
    font-size: 28px;
    font-family: 'Arial';
    border-width: 2px;
    border-color: powderblue;
    align-content: center
}

.emphasize-user {
    font-style: italic;
}


div.kreep {
    
    margin-left: auto;
    margin-right: 57%;
    margin-top: 290px;
    width: 8em;
    margin-bottom: 10px;
}

#logout {
    text-decoration: none;
    font-size: 20px;
    float: right;
    float: top;
    margin-right: 20px
    
}











