#hmm {

    align-self: center;
    margin-left: 800px;

}

#help-buttons button {
    height: 150px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 75px;
    
}

#definition {
    margin-top: 8%;
    float: left;
    float: top;
}

#whats-a-string {
    margin-top: 3%;
    margin-left: 5%;

}

#two-pointer-method {
    margin-top: -10;

}

#button-row-up {
    
}








